ADR 0009 incorrectly claims FIPS 186-5 requires cofactor verification equation

[ADR 0009 § Cofactored Verification Equation](https://docs.oasis.io/adrs/0009-ed25519-semantics/#cofactored-verification-equation) states:

> The cofactored verification equation is explicitly required by FIPS 186-5

That is not correct. [FIPS 186-5](https://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.186-5.pdf) § 7.7 step 3 states the same thing [RFC 8032 § 5.1.7](https://www.rfc-editor.org/rfc/rfc8032#section-5.1.7) step 3 does. Namely that it's sufficient, but not required, to instead use the cofactorless equation.

The [initial draft](https://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.186-5-draft.pdf) of FIPS 186-5 did require the cofactor equation, but the final draft was relaxed to allow the cofactorless equation just like RFC 8032.